<!DOCTYPE html>
<head>
    <title>MarkedNote</title>


    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body class="container" style="background-color:lightblue">

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" id="home">Home</a>
            </li>
            <li class="nav-item" id="loginLi">

            </li>
        </ul>
    </nav>

    <div id="loginContainer" class="container">
        <h2>Login</h2>
        <form>
            <p id="LoginError"></p>
            <div class="form-group">
                <label for="uname">Username:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password">
            </div>

        </form>
        <input type="submit" name="login" value="Login" onclick="login()" class="btn btn-primary" />
        <button class="d-inline-block btn btn-black float-right text-primary" id="register">Register</button>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            loadNavigationBar()

            if (sessionStorage.getItem("Token") != null) {
                document.getElementById("loginContainer").innerHTML = `You are already logged in.`
            }

            $("#home").click(function () {
                document.location.href = "/";
            })

            $("#register").click(function () {
                document.location.href = "/register"
            })

            $("#login").click(function () {
                document.location.href = "/login"
            })

            $("#logout").click(function () {
                sessionStorage.removeItem("Token");
            })

        })

        function login() {
            let Data = JSON.stringify({
                Email: $("#username").val(),
                Password: $("#password").val()
            })
            $.ajax({
                type: "POST",
                url: "/identity/login",
                data: Data,
                contentType: "application/json",
                success: function (res) {
                    console.log(res)
                    if (res.jwtToken != null) {
                        sessionStorage.setItem("Token", res.jwtToken);
                        document.location.href = "/";
                    }
                    else {
                        document.getElementById("LoginError").innerHTML = res.Errors;
                    }
                }
            })
        }


        function loadNavigationBar() {
            let defaultNavBar = `???`
            if (sessionStorage.getItem("Token") == null) {
                defaultNavBar = `<a class="nav-link" id="login">Login</a>`
            }
            else {
                defaultNavBar = `<a class="nav-link" id="logout">Logout</a>`

            }
            document.getElementById("loginLi").innerHTML = defaultNavBar
        }

    </script>
</body>

<footer> </footer>